@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1>More about me!!!</h1>
    <hr />

    <p>Since a very young age, I was always moved and driven by games that require some algorithms to resolve it. Coming from a low income family, we could not afford a computer so my problem solving skill was limited to game books or challenging math problems. I did not get to use a computer until I was actually at the university completing my industrial engineering degree.</p>

    <p>I then had the opportunity to take some visual basic classes and knew then that I had a soft spot for programming. But due to limited space in our dedicated computer engineering program, I was forced to continue in the industrial engineering field and also because I needed to graduate soon enough and gain some financial freedom to help my mother who since had became a widow with seven children to raise.</p>

    <p>I eventually graduated as an Industrial Engineer and also earned an MBA in Global Leadership and Finance. I went on to build a successful career in engineering to the management level, mainly using my creativity and problem solving skills. This allowed me to evolve over time into a fully accomplished SR IT Infrastructure Program manager. In that last role, I worked very closely with Software Developer and operations teams; Interacting with developer rised in me the passion I had for programming and I gradually started to develop a feeling of unfulfillment. I found myself at numerous occasions taking the lead to address some IT shortfall we would be experiencing as a team and filling really good about. This really stirred up my desire to learn the code and eventually evolve into DevOps. Last year, as the result of a life changing opportunity, I made the decision to join Epicodus and Hack University as a first step toward my dream of becoming a fully rounded software developer.</p>

    <p> Through this pursuit, I hoped to finally achieve a life-long dream of learning to code and fully embracing the expanding technological world.  My journey at Epicodus has been really high-paced while we go through learning JavaScript, C# and their associated frameworks such as Ember, Angular 2, Nancy and ASP.Net. Having always strived for excellence, this experience has provided me with the tools to continue learning and successfully solve any problems I come up against. The MVC framework (which allows for efficient code reuse and parallel development) and BDD(which describes a cycle of interactions with well defined outputs, resulting in the delivery of working, tested software the matters) are two concepts I hold dear to my heart.  I have been taught to deliver through continuous research and exploration. On my last project, I took the risk to explore a new framework (Phaser) that we did not learn in ordinary coursework; to participate in building a tower defense game within a week. This was very exciting and educational.</p>
    
    <p>You are welcome to check @Html.ActionLink("My Portfolio", "Index", "Projects") to see some of the amazing projects I had the opportunity to complete as part of my learning journey.</p>

<br />
</div>
