@{
    ViewData["Title"] = "Welcome to Annie Sonna Portfolio Site!!!";
}

@*<div class="jumbotron">*@
        @*<h1>Welcome to Annie Sonna Portfolio Site!!!</h1><br />
        <hr />*@
    <div class="container">
        <div class="row">
            <div class="col-sx-8">
                <p>Thank you for taking the time to explore and learn more about my software developer journey. Through this site, you will be able to live my experiences and also have the opportunity to see some of my greatest web creation.</p>
            </div>
            <div class="col-sx-4">
                <img class="pic" src="~/img/myPic.jpg" alt="my profile Pic" />
            </div>
        </div>

        <hr />
        <p><a class="btn btn-primary btn-lg" href="~/Home/About" role="button">Learn more about me</a></p>
    </div>
@*</div>*@