@{
    ViewData["Title"] = "Index";
}

@*<div class="jumbotron">*@
    <div class="container">
        <h1>Welcome to My Portfolio Site!!!</h1><br />
        <hr />

        <p>Thank you for taking the time to explore and learn more about my software developer journey. Through this site, you will be able to live my experiences and also have the opportunity to see some of my greatest web creation.</p><br />


        <hr />
        <p><a class="btn btn-primary btn-lg" href="~/Home/About" role="button">Learn more about me</a></p>
    </div>
@*</div>*@