@{
    ViewData["Title"] = "My Projects";
}

@*<h1>My Projects</h1>*@
<div class="container">
    <h3>My starred projects:</h3>

    <hr />
    
    <h3> Select another project you would like to view:</h3>

    <form>
        <label>Repo Name:</label>
        <input /><br />
        <button class="btn btn-default">Submit</button>
    </form>
    <hr />
</div>