@{
    ViewData["Title"] = "Resume";
}

<div class="container">
    <h1>My Resume</h1>
    <hr />
    <div class="row">
        <div class=col-md-12>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Job Objective</h3>
                </div>
                <p><strong>Program and Project Manager</strong></p>
                <p>(Tell me what you need and I will enable the job to be done!)</p>
            </div>
        </div>
        <div class=col-md-12>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Qualification Highlights</h3>
                </div>
                <ul>
                    <li>5+ years overseeing mission critical system, managing the implementation of IT data centers, involving infrastructure, software, Facility layout & Construction Management.</li>
                    <li>Received division’s recognition Award “DRA” for a project tasked to managing the design of the computer business intelligence tool enabling company to access real time information on space planning; reducing time to decision and manual data analysis.</li>
                    <li>Received a department Award for successful cost saving initiative from a budget reduction on a project from $2.2M to $200K using my creativity, collaboration and problem-solving skills.</li>
                    <li>Developed and applied strong presentation, influencing and negotiation skills while building consensus across the various stakeholders with often conflicting needs.</li>
                    <li>Manage a team of up to 17 people for two years while developing them through cross-training and education.</li>
                </ul>
            </div>
        </div>
        <div class=col-md-12>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Technical Skills</h3>
                </div>
                <ul>
                    <li>Applications: 	Window Pro, Spreadsheet design and Internet (Proficient with MS Office - Word, Project, Excel, Visio, Access, AutoCAD and Business Object),</li>
                    <li>Planning Optimization Software i.e. Impact Encore, SAP, Arena, Gold, and GIS.</li>
                    <li>Infrastructure:	Network, database applications, security, storage, servers, Firewalls, Backups</li>
                    <li>PM Methodologies:	Agile, Scrum master, Waterfall, Six Sigma, DevOps, PMP and understanding of the SDLC & ITIL</li>
                    <li>Language:	Python and Java Proficient.</li>
                </ul>
            </div>
        </div>
        <div class=col-md-12>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Work History</h3>
                </div>
                <h4><strong>Proud Mother of twins</strong>				Oriero's Home, Beaverton, OR	        	Jun 2015 - To date</h4>
                <ul>
                    <li>Caring for my twin babies while learning new program(Python) to help increase my DevOps culture & skills</li>
                    <li>Continuing volunteering activities (Choral, Non-profit, ...)</li>
                    <li>Social Secretary of the WODW association</li>
                    <li>VP of the Association of Cameroonian and Friend of Cameroonian in Portland (ASOC)</li>
                </ul>
                <h4><strong>Senior IT Project Manager</strong>			IE Solutions, Beaverton, OR	        January 2016 – April 2016</h4>
                <ul>
                    <li>Project managed the upgrade of technical applications by assessing customer and business needs and defining requirements: Tableau; TDMS HR and associated controlled systems</li>
                    <li>Assisted in defining tools and processes to support overall organizational excellence in program/project management and process definition</li>
                    <li>Managed change control against scope and it’s impacts to time, cost, and quality</li>
                    <li>Provided guidance and direction on project methodology and best practices to company’s standard project methodology</li>
                </ul>
                <h4><strong>Senior Infrastructure Project Manager</strong>  		Northwest Software,        Beaverton, OR	 July 2014- June 2015</h4>
                <ul>
                    <li>Led and project managed an infrastructure team of over 40 people to migrate the Nike datacenter from Sacramento to Virginia while resolving conflicting needs</li>
                    <li>Led and project managed an infrastructure team of over 30 people to setup and deploy a brand new disaster recovery datacenter in Virginia for Nike; after setting up project requirement</li>
                    <li>Led a team in the migration of existing NAS from old filers to new filers</li>
                    <li>Helped establish PMO standard office and assisted in continuously improving existing PM processes</li>
                    <li>Interviewed and helped recruit, select and train new IT project managers</li>
                </ul>
                <h4><strong>Strategic Planning Program Manager</strong> 		INTEL Hillsboro / OR 		October 2007 – April 2014</h4>
                <ul>
                    <li>As IT content expert, I delivered a Business Intelligence data tool, which resulted in a Division Recognition Award; serving as a support to leadership for faster decision making and cost saving</li>
                    <li>Developed, managed and updated budget, procedure, work plans and policies for financial reporting</li>
                    <li>Developed the division strategic plan and work collaboratively with peers and senior management to identify, prioritize and align opportunities and processes with company enterprise standard and industry best practices</li>
                    <li>Monthly project reporting to C-suite team; Developed proposals and contents presented to CEO (using my verbal and written communication skills and presentation skill)</li>
                    <li>Established/expanded/maintained business relationships while influencing and resolving issues at various leadership levels and in a highly dynamic environment</li>
                    <li>Led & delivered yearly, few projects with over $5.0M saving from initial projected costs</li>
                    <li>Project managed and reported company complex and cross functional facilities strategic multi programs simultaneously; most of which involved datacenters retrofit or addition</li>
                    <li>Helped interview, recruit,  train and evaluate new team members; often serving as team lead</li>
                    <li>Conducted periodical employee surveys for continuous improvements toward increase customer satisfaction</li>
                    <li>Drove Intel future generation of products from conception to first build – Led many sample technology to delivery in support of the PRQ through design, assembly and test validation process.  Collected and managed Intel internal and OEM external CPU prototype demand</li>
                    <li>Initiated and led kaizen events for process improvement of various activities and report generation workflow</li>
                </ul>
                <h4><strong>Inventory Planning & Systems Manager</strong> 	Honeywell, Chandler, AZ	March 2006 – October 2007</h4>
                <ul>
                    <li>Served as Inventory consultant leading Inventory reduction initiative across all elements of the company (From $30M down to $17M)</li>
                    <li>Led definition, communication and implementation of site inventory strategies</li>
                    <li>Drove significant result through cross functional leadership and influencing skills</li>
                    <li>Managed a team of 13 to 17 people to meet assigned tasks while helping grow their professional skills</li>
                    <li>Led various projects across multiple departments to ensure site process improvement (Registered over $10M saving per years through Lean initiatives and Six Sigma methodologies).</li>
                </ul>
                <h4><strong>IE Project Leader / Inventory Specialist</strong>		 INTER PACK INDUSTRIES  	May 2004- March 2006</h4>
                <ul>
                    <li>Managed inventory in order to ensure customer satisfaction while meeting company’s business goals.</li>
                    <li>Introduced and led the six sigma concept throughout the plant. Managed, developed and trained staff</li>
                    <li>Developed lean manufacturing,  helped implement new automated inventory system in their warehouses</li>
                    <li>Designed the feasibility study of all projects thru cost analysis, actual vs. proposed scenario and presenting opportunity in term of $ saving</li>
                </ul>
                <h4><strong>Industrial Engineer DSC Manager</strong>  AFROX -BOC, Johannesburg / South Africa	 Oct 2000 – Aug 2003</h4>
                <ul>
                    <li>Interviewed, recruited,  trained and led a team of 15 people to meet expectation and continuously improve on utilized processes</li>
                    <li>Coordinated and nurture collaboration with regional fields’ offices managers</li>
                    <li>Performed cost analysis, financial and strategic planning for system implementation</li>
                    <li>Contributed in the implementation of the Global Optimization Liquid Distribution GOLD system</li>
                </ul>
            </div>
        </div>
        <div class=col-md-12>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">VOLUNTEER WORK</h3>
                </div>
                <ul>
                    <li>Volunteering minister for teenagers and to care and share love with children at the CHR; also choir member - Ongoing</li>
                    <li>Continuously provide consultation service to Nonprofit organizations on how to go about raising funds (Palm institute, RCCG, …) Ongoing</li>
                    <li>WODW Member and volunteer helping women unleash their full potential thru mentoring and spiritual development – 2010 – to  date</li>
                    <li>Planned, organized and ran few Fundraising events through CAMAZ in USA to help improve the school infrastructure in Cameroon – 2006</li>
                </ul>
            </div>
        </div>
        <div class=col-md-12>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">EDUCATION</h3>
                </div>
                <ul>
                    <li>Python and DevOps, December 2016: Hack University</li>
                    <li>HTML and CCS Bootcamp, June 2016: Code Fellows</li>
                    <li>Master of Business Administration (MBA) in Global Leadership, August 2010: Thunderbird School of Global Management</li>
                    <li>Bachelor of Science in Industrial Engineering, April 2001: Technikon Witwatersrand University, Johannesburg, South Africa</li>
                </ul>
            </div>
        </div>
        <div class=col-md-12>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">LEADERSHIP & TRAINING</h3>
                </div>
                <ul>
                    <li>Six Sigma Green Belt training and certification - 2006</li>
                    <li>Lean principles certification - 2009</li>
                    <li>Agile and APICS (CPIM) Trained – 2007-2013</li>
                    <li>PMP Certification - 2015</li>
                    <li>Construction Management Policies Tool (CMP) Trained – 2013</li>
                    <li>Python Fundamentals Training</li>
                    <li>Extensive training in the following areas:  SAP System, Labor Standards, Lean Manufacturing, Program/Project Management; Operational Research, ERP /MRP, Construction & Fit Up, Cost
                    <li>Analysis and Simulation - Ongoing</li>
                </ul>
            </div>
        </div>
        <div class=col-md-12>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">PROFESSIONAL AFFILIATION</h3>
                </div>
                <ul>
                    <li>Society of Women Engineer  - SWE member</li>
                    <li>National Society of Black Engineer - NSBE member</li>
                    <li>PMI member</li>
                </ul>
            </div>
        </div>
    </div>
</div>
